*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;
	font-family: 'Tw Cen MT', sans-serif;
}

.container-- {
	
    position: relative;
    height: 100vh;
    width: 100%;
    background-position: center;
    padding: 0 8%;
    background: linear-gradient(45deg, black, transparent);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 0;
    border-block-end: 3px solid gray;
}

nav .logo {
	width: 120px;
	cursor: pointer;
}

nav .cart {
	width: 40px;
	cursor: pointer;
}

nav ul {
	display: flex;
	justify-content: flex-end;
	flex: 1;
	padding-right: 40px;
	text-align: right;
	list-style-type: none;
}

ul li {
	margin-right: 10px;
}

ul li a {
	position: relative;
	padding: 10px 20px;
	text-decoration: none;
	color: #000000;
	font-size: 16px;
}

ul li a::after {
	content: '';
	position: absolute;
	bottom: 0;
	right: 0;
	width: 0;
	transform: translateX(-50%) translateY(-5px);
	height: 3px;
	background: #ffa400;
	transition: 0.3s;
}

ul li a:hover::after {
	width: 38%;
}

.site-container {
    position: absolute;
    bottom: 10%;
    color: #fff;
    top: 21%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 72vh;
        width: 70%;
}

.welcome-message {
	font-size: 50px;
	font-weight: bold;
}

.site-title {
    font-size: 120px;
    line-height: 120px;
    margin-left: 7px;
    color: transparent;
    -webkit-text-stroke: 1px white;
    background: url(images/pattern.png);
    -webkit-background-clip: text;
    background-clip: text;
    background-position: 0 0;
    animation: animate 20s linear 2s infinite alternate;
}

.site-subtitle {
	font-size: 20px; 
}

.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
.btns{
display: flex;
width: 100%;
/* gap: 5%; */
justify-content: flex-start;
margin-bottom: 2%;
}

.desc_bottom_btns{
    margin-top: 1%;
width: 100%;
}

.discover-offers,
.search-jobs {
	padding: 10px 20px;
	background-color: transparent;
	color: #fff;
	text-decoration: none;
	border-radius: 5px;
    display: flex;
}

.discover-offers:hover,
.search-jobs:hover {
	background-color: #0056b3;
}

.job-search-description {
	margin-top: 20px;
    width: 100%;
	font-size: 16px;
}


@keyframes animate {
	100% {
		background-position: -500px 0;
	}
}

.site-container h3 {
	font-size: 40px;
	font-weight: 500;
}

.site-container .row {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 40px;
}

.row a {
	display: flex;
	align-items: center;
	padding: 5px 20px;
	text-decoration: none;
	color: #fff;
	border: 1px solid #fff;
	margin-right: 40px;
	font-size: 18px;
	transition: 0.3s;
}

.row a:hover {
	background-color: #fff;
	color: #000;
}

.row a span {
	font-size: 15px;
	font-weight: bold;
	line-height: 2;
	margin-left: 10px;
}

.row span {
	font-size: 18px;
}


.social-buttons {
display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    width: 4%;
    align-items: center;
    position: absolute;
    right: 1.5%;
    top: 57%;
}

.social-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    width: 40px;
    height: 40px;
    text-decoration: none;
    border-radius: 100%;
    background: #fff;
    text-align: center;
}

.social-button::after {
  content: "";
  position: absolute;
  top: -1px;
  left: 50%;
  display: block;
  width: 0;
  height: 0;
  border-radius: 100%;
  transition: 0.3s;
}
.social-button:focus, .social-button:hover {
  color: #fff;
}
.social-button:focus::after, .social-button:hover::after {
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  margin-left: calc(-50% - 1px);
}
.social-button i,
.social-button svg {
  position: relative;
  z-index: 1;
  transition: 0.3s;
}
.social-button i {
  font-size: 25.6px;
}
.social-button svg {
  height: 40%;
  width: 40%;
}
.social-button--mail {
  color: #0072c6;
}
.social-button--mail::after {
  background: #0072c6;
}
.social-button--facebook {
  color: #3b5999;
}
.social-button--facebook::after {
  background: #3b5999;
}
.social-button--linkedin {
  color: #0077b5;
}
.social-button--linkedin::after {
  background: #0077b5;
}
.social-button--github {
  color: #6e5494;
}
.social-button--github::after {
  background: #6e5494;
}
.social-button--codepen {
  color: #e00000;
}
.social-button--codepen::after {
  background: #ae0000;
}
.social-button--steam {
  color: #7da10e;
}
.social-button--steam::after {
  background: #7da10e;
}
.social-button--snapchat {
  color: #eec900;
}
.social-button--snapchat::after {
  background: #eec900;
}
.social-button--twitter {
  color: #55acee;
}
.social-button--twitter::after {
  background: #55acee;
}
.social-button--instagram {
  color: #e4405f;
}
.social-button--instagram::after {
  background: #e4405f;
}
.social-button--npmjs {
  color: #c12127;
}
.social-button--npmjs::after {
  background: #c12127;
}

.dropdown {
  float: left;
  overflow: auto !important;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: rgb(2, 0, 0);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #ffa400;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.pg-footer {
	font-family: 'Roboto', sans-serif;
  }
  
  
  .footer {
	  background-color: #004658;
	  color: #fff;
  }
  .footer-wave-svg {
	  background-color: transparent;
	  display: block;
	  height: 30px;
	  position: relative;
	  top: -1px;
	  width: 100%;
  }
  .footer-wave-path {
	  fill: #fffff2;
  }
  
  .footer-content {
	  margin-left: auto;
	  margin-right: auto;
	  max-width: 1230px;
	  padding: 40px 15px 450px;
	  position: relative;
  }
  
  .footer-content-column {
	  box-sizing: border-box;
	  float: left;
	  padding-left: 15px;
	  padding-right: 15px;
	  width: 100%;
	  color: #fff;
  }
  
  .footer-content-column ul li a {
	color: #fff;
	text-decoration: none;
  }
  
  .footer-logo-link {
	  display: inline-block;
  }
  .footer-menu {
	  margin-top: 30px;
  }
  
  .footer-menu-name {
	  color: #fffff2;
	  font-size: 15px;
	  font-weight: 900;
	  letter-spacing: .1em;
	  line-height: 18px;
	  margin-bottom: 0;
	  margin-top: 0;
	  text-transform: uppercase;
  }
  .footer-menu-list {
	  list-style: none;
	  margin-bottom: 0;
	  margin-top: 10px;
	  padding-left: 0;
  }
  .footer-menu-list li {
	  margin-top: 5px;
  }
  
  .footer-call-to-action-description {
	  color: #fffff2;
	  margin-top: 10px;
	  margin-bottom: 20px;
  }
  .footer-call-to-action-button:hover {
	  background-color: #fffff2;
	  color: #00bef0;
  }
  .button:last-of-type {
	  margin-right: 0;
  }
  .footer-call-to-action-button {
	  background-color: #027b9a;
	  border-radius: 21px;
	  color: #fffff2;
	  display: inline-block;
	  font-size: 11px;
	  font-weight: 900;
	  letter-spacing: .1em;
	  line-height: 18px;
	  padding: 12px 30px;
	  margin: 0 10px 10px 0;
	  text-decoration: none;
	  text-transform: uppercase;
	  transition: background-color .2s;
	  cursor: pointer;
	  position: relative;
  }
  .footer-call-to-action {
	  margin-top: 30px;
  }
  .footer-call-to-action-title {
	  color: #fffff2;
	  font-size: 14px;
	  font-weight: 900;
	  letter-spacing: .1em;
	  line-height: 18px;
	  margin-bottom: 0;
	  margin-top: 0;
	  text-transform: uppercase;
  }
  .footer-call-to-action-link-wrapper {
	  margin-bottom: 0;
	  margin-top: 10px;
	  color: #fff;
	  text-decoration: none;
  }
  .footer-call-to-action-link-wrapper a {
	  color: #fff;
	  text-decoration: none;
  }
  
  
  footer{
    position: absolute;
    width: 100%;
  }
  
  
  .footer-social-links {
    bottom: 48px;
    height: 54px;
    position: absolute;
    left: 84%;
    width: 236px;
}
  
  .footer-social-amoeba-svg {
	  height: 54px;
	  left: 0;
	  display: block;
	  position: absolute;
	  top: 0;
	  width: 236px;
  }
  
  .footer-social-amoeba-path {
	  fill: #282e35e8;
  }
  
  .footer-social-link.linkedin {
    height: 40px;
    left: 1px;
    top: 8px;
    width: 50px;
}
  
  .footer-social-link {
	  display: block;
	  padding: 10px;
	  position: absolute;
  }
  
  .hidden-link-text {
	  position: absolute;
	  clip: rect(1px 1px 1px 1px);
	  clip: rect(1px,1px,1px,1px);
	  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
	  clip-path: inset(0px 0px 99.9% 99.9%);
	  overflow: hidden;
	  height: 1px;
	  width: 1px;
	  padding: 0;
	  border: 0;
	  top: 50%;
  }
  
  .footer-social-icon-svg {
	  display: block;
  }
  
  .footer-social-icon-path {
	  fill: #fffff2;
	  transition: fill .2s;
  }
  
  .footer-social-link.twitter {
    height: 50px;
    left: 60px;
    top: 3px;
    width: 50px;
}
  
  .footer-social-link.youtube {
height: 41px;
    left: 122px;
    top: 7px;
    width: 50px;
}
  
  .footer-social-link.github {
    height: 50px;
    left: 170px;
    top: 3px;
    width: 58px;
}
  .footer-copyright {
	background-color: #282e35e8;
    color: #fff;
    padding: 15px 30px;
    text-align: center;
  }
  
  .footer-copyright-wrapper {
	  margin-left: auto;
	  margin-right: auto;
	  max-width: 1200px;
  }
  
  .footer-copyright-text {
	color: #fff;
	  font-size: 13px;
	  font-weight: 400;
	  line-height: 18px;
	  margin-bottom: 0;
	  margin-top: 0;
  }
  
  .footer-copyright-link {
	  color: #fff;
	  text-decoration: none;
  }
  
  
  
  
  
  
  
  /* Media Query For different screens */
  @media (min-width:320px) and (max-width:479px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
	.footer-content {
	  margin-left: auto;
	  margin-right: auto;
	  max-width: 1230px;
	  padding: 40px 15px 1050px;
	  position: relative;
	}
  }
  @media (min-width:480px) and (max-width:599px)  { /* smartphones, Android phones, landscape iPhone */
	.footer-content {
	  margin-left: auto;
	  margin-right: auto;
	  max-width: 1230px;
	  padding: 40px 15px 1050px;
	  position: relative;
	}
  }
  @media (min-width:600px) and (max-width: 800px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
	.footer-content {
	  margin-left: auto;
	  margin-right: auto;
	  max-width: 1230px;
	  padding: 40px 15px 1050px;
	  position: relative;
	}
  }
  @media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */
  
  }
  @media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */
  
  }
  @media (min-width:1281px) { /* hi-res laptops and desktops */
  
  }
  
  
  
  
  @media (min-width: 760px) {
	.footer-content {
		margin-left: auto;
		margin-right: auto;
		max-width: 1230px;
		padding: 40px 15px 450px;
		position: relative;
	}
  
	.footer-wave-svg {
		height: 50px;
	}
  
	.footer-content-column {
		width: 24.99%;
	}
  }
  @media (min-width: 568px) {
	/* .footer-content-column {
		width: 49.99%;
	} */
  }


  /* about us   */

.responsive-container-block {
  min-height: 75px;
  height: fit-content;
  width: 100%;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  justify-content: flex-start;
}

a {
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
  text-decoration-color: initial;
}

.text-blk {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  line-height: 25px;
}

.responsive-container-block.bigContainer {
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 50px 10px 50px;
    background: linear-gradient(83deg, black, transparent);
}

.mainImg {
  color: black;
  width: 100%;
  height: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.text-blk.headingText {
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
  color: #ffa400;
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 5px;
  margin-left: 0px;
}

.allText {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  width: 40%;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.text-blk.subHeadingText {
  color: rgb(255, 255, 255);
  font-size: 26px;
  line-height: 32px;
  font-weight: 700;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 15px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.text-blk.description {
  font-size: 18px;
  line-height: 26px;
  color: rgb(200, 200, 200);
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 50px;
  margin-left: 0px;
  font-weight: 400;
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.explore {
    font-size: 20px;
    line-height: 28px;
    color: rgb(255 255 255);
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(102, 102, 102);
    border-right-color: rgb(102, 102, 102);
    border-bottom-color: rgb(102, 102, 102);
    border-left-color: rgb(102, 102, 102);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    cursor: pointer;
    background-color: transparent;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 8px;
    padding-right: 40px;
    padding-bottom: 8px;
    padding-left: 40px;
}

.explore:hover {
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border-top-width: initial;
  border-right-width: initial;
  border-bottom-width: initial;
  border-left-width: initial;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: initial;
  border-right-color: initial;
  border-bottom-color: initial;
  border-left-color: initial;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
}

.responsive-container-block.Container {
  margin-top: 80px;
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto;
  justify-content: center;
  align-items: center;
  max-width: 1320px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.responsive-container-block.Container.bottomContainer {
  flex-direction: row-reverse;
  margin-top: 80px;
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto;
  position: static;
}

.allText.aboveText {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 40px;
}

.allText.bottomText {
margin-top: 0px;
    margin-right: 40px;
    margin-bottom: 0px;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border: 10px solid gray;
    border-radius: 20px;
    padding: 10px;
}

.purpleBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 430px;
  background-color: #ffa400;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  position: absolute;
  bottom: -35px;
  left: -8%;
}



.ultimateImg {
  width: 50%;
  position: relative;
}

@media (max-width: 1024px) {
  .responsive-container-block.Container {
    max-width: 850px;
  }

  .mainImg {
    width: 55%;
    height: auto;
  }

  .allText {
    width: 40%;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 20px;
  }

  .responsive-container-block.bigContainer {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }

  .responsive-container-block.Container.bottomContainer {
    margin-top: 80px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
  }

  .responsive-container-block.Container {
    max-width: 830px;
  }

  .allText.aboveText {
    margin-top: 30px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 40px;
  }

  .allText.bottomText {
    margin-top: 30px;
    margin-right: 40px;
    margin-bottom: 0px;
    margin-left: 0px;
    text-align: left;
  }

  .text-blk.headingText {
    text-align: center;
  }

  .allText.aboveText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .text-blk.subHeadingText {
    text-align: left;
    font-size: 26px;
    line-height: 32px;
  }

  .text-blk.description {
    text-align: left;
    line-height: 24px;
  }

  .explore {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .responsive-container-block.bigContainer {
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
  }

  .responsive-container-block.Container {
    justify-content: space-evenly;
  }

  .purpleBox {
    bottom: 10%;
  }

  .responsive-container-block.Container.bottomContainer {
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    max-width: 930px;
  }

  .allText.bottomText {
    width: 40%;
  }

  .purpleBox {
    bottom: auto;
    left: -10%;
    top: 70%;
  }

  .mainImg {
    width: 100%;
  }

  .text-blk.headingText {
    text-align: left;
  }
}

@media (max-width: 768px) {
  .allText {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }

  .responsive-container-block.Container {
    flex-direction: column;
    height: auto;
  }

  .text-blk.headingText {
    text-align: center;
  }

  .text-blk.subHeadingText {
    text-align: center;
    font-size: 24px;
  }

  .text-blk.description {
    text-align: center;
    font-size: 18px;
  }

  .allText {
    margin-top: 40px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .allText.aboveText {
    margin-top: 40px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .responsive-container-block.Container {
    margin-top: 80px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
  }

  .responsive-container-block.Container.bottomContainer {
    margin-top: 50px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
  }

  .allText.bottomText {
    margin-top: 40px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .mainImg {
    width: 100%;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: -70px;
    margin-left: 0px;
  }

  .responsive-container-block.Container.bottomContainer {
    flex-direction: column;
  }

  .ultimateImg {
    width: 100%;
  }

  .purpleBox {
    position: static;
  }

  .allText.bottomText {
    width: 100%;
    align-items: flex-start;
  }

  .text-blk.headingText {
    text-align: left;
  }

  .text-blk.subHeadingText {
    text-align: left;
  }

  .text-blk.description {
    text-align: left;
  }

  .ultimateImg {
    position: static;
  }

  .mainImg {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .ultimateImg {
    position: relative;
  }

  .purpleBox {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    position: absolute;
    left: 0px;
    top: 80%;
  }

  .allText.bottomText {
    margin-top: 100px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
}

@media (max-width: 500px) {
  .responsive-container-block.Container {
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    width: 100%;
    max-width: 100%;
  }

  .mainImg {
    width: 100%;
  }

  .responsive-container-block.bigContainer {
    padding-top: 10px;
    padding-right: 25px;
    padding-bottom: 10px;
    padding-left: 25px;
  }

  .text-blk.subHeadingText {
    font-size: 24px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    line-height: 28px;
  }

  .text-blk.description {
    font-size: 16px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    line-height: 22px;
  }

  .allText {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    width: 100%;
  }

  .allText.bottomText {
    margin-top: 50px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding: 0 0 0 0;
    margin: 30px 0 0 0;
  }

  .ultimateImg {
    position: static;
  }

  .purpleBox {
    position: static;
  }

  .stars {
    width: 55%;
  }

  .allText.bottomText {
    margin-top: 75px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .responsive-container-block.bigContainer {
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
  }



  .explore {
    padding: 6px 35px 6px 35px;
    font-size: 15px;
  }
}