        
        body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

.page-title {
    color: #fff;
    text-align: center;
}

.container-gestionUser {
    max-width: 100%;
    width: 95%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    gap: 3%;
    overflow: hidden;
    height: 75vh;
}

.form-submit{
    width: 25%;
}
.list-emploi{
        display: flex;
    width: 72%;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
}

.emploi-form,
.emploi-update-form,
.emploi-delete-form {
    margin-bottom: 20px;
}

.form-label {
    display: block;
    margin-bottom: 5px;
}

.form-input,
.form-textarea,
.form-button {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-textarea {
    resize: vertical;
}

.job-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
}

.emploi-title {
    font-size: 20px;
    margin-bottom: 10px;
}

.entreprise-name {
    font-weight: bold;
    color: #555;
}

.emploi-description,
.emploi-salaire,
.emploi-contrat,
.emploi-date-post {
    margin-bottom: 5px;
}
.pos-bouton{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.btn {
    cursor: pointer;
    margin-right: 10px;
}

.btn-danger {
    background-color: #dc3545;
    color: #fff;
}

.btn-success {
    background-color: #28a745;
    color: #fff;
}
